body {
  font-family: Arial, Helvatica, sans-serif;
}

.hl {
  text-decoration: none;
  color: #4169E1;
  transition: 0.50s;
}

.h1:hover {
  text-decoration: underline;
  color: #00008B;
}

.image1 {
  width: 250px;
  height: 250px;
}

.sobre {
  color: #4682B4;
}
