body {
  font-family: Arial, Helvatica, sans-serif;
}

.hl {
  text-decoration: none;
  color: #4169E1;
  transition: 0.50s;
}

.h1:hover {
  text-decoration: underline;
  color: #00008B;
}

.image1 {
  width: 250px;
  height: 250px;
}

.links {
  position: absolute;
  right: 8px;
  display: flex;
  font-size: 10px;
}

.hl-links {
  color: #696969;
}

.esp-links {
  margin-right: 8px;
}
